<div class="eqLogic eqLogic-widget noResize" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;width:200px;" data-category="#category#">
    
    <center class="widget-name">
        <a href='#lien#' target="_blank"  ><img src="#image#" height=38px width=38px border=1 alt='clic pour plus d infos'></a>
        <a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a>
        
    </center>
    
	   <div class="verticalAlign">
           <center style="">
               
               #commentaire#
               
               <p><i class="fa fa-envelope-o cursor"></i> #etat# </p>
               <p>#msgtransporteur# </p>
               
               <p><i class="fa fa-clock-o cursor"></i>  #dateheure#
               #lieu#
               
        </div>
       
</div>
