<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
    <style>
        .card {
            padding: 4px;
            word-break: break-all;
          	white-space: break-spaces;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .card img {
            margin-right:5px;
        }

        .card .title {
            flex-direction: row;
            justify-content: flex-start;
            display: flex;
            align-items: center;
        }
        .card .title .objectName{
            flex-grow: 1;
            font-weight:bold;
        }
        .cards {
            max-width: 1200px;
            margin: 0 auto;
            display: grid;
            grid-gap: 4px;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    </style>
    <center class="widget-name">
    <span class="warning" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
        <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
        <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
        <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
    </center>
    <div class="row" style="margin-right:0px;margin-left:0px;overflow: auto;height: calc(100% - 25px);">
        #colis#
    </div>
</div>
<script>
    function deleteColis(idColis, name){
        var r = confirm("Voulez vous supprimer " + name + " ?");
        if (r == true) {
            debugger;
            $.ajax({
                type: "POST",
                url: "plugins/Suivreuncolis/core/ajax/Suivreuncolis.ajax.php",
                data: {
                    action: "removeColis",
                    idColis: idColis
                },
                dataType: 'json',
                error: function (request, status, error) {
                    handleAjaxError(request, status, error);
                },
                success: function (data) {
                    if (data.state != 'ok') {
                        $('#div_alert').showAlert({message: data.result, level: 'danger'});
                        return;
                    }
                    $('#div_alert').showAlert({message: 'Suppression réussie', level: 'success'});
                }
            });
        }
    }

    if ('#refresh_id#' != ''){
        $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
            jeedom.cmd.execute({id: '#refresh_id#'});
        });
    }else{
        $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
    }

</script>
